	
	<footer class="footer">
		Designed and coded with <span style="color: red" class="glyphicon glyphicon-heart"></span> by <a href='https://github.com/mbonubasil/alc-student-info-system' target='_blank'>Mbonu Basil</a>
	</footer>